<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.teamttdvlp.goodthanbefore.schoolsupport">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".presenter.view.activity.LoginActivity">
        </activity>
        <activity android:name=".presenter.view.activity.RxKotlin">
        </activity>
        <activity android:name=".presenter.view.activity.SearchChemicalEquationActivity">
        </activity>
        <activity android:name=".presenter.view.activity.BanTuanHoanActivity">
        </activity>
        <activity android:name=".presenter.view.activity.ReadStoryActivity">
        </activity>
        <activity android:name=".presenter.view.activity.CreateStoryActivity">
        </activity>
        <activity android:name=".presenter.view.activity.EditProfileActivity">
        </activity>
        <activity android:name=".presenter.view.activity.UserActivity">
        </activity>
        <activity android:name=".presenter.view.activity.ViewProfileActivity"/>
        <activity android:name=".presenter.view.activity.OfflineToolActivity">
        </activity>
        <activity android:name=".presenter.view.activity.InterestActivity">
        </activity>
        <activity android:name=".presenter.view.activity.MainActivity">
        </activity>
        <activity android:name=".presenter.view.activity.SearchBarActivity">
        </activity>
        <activity android:name=".presenter.view.activity.SearchActivity">
        </activity>
        <activity android:name=".presenter.view.activity.SearchResultActivity">
        </activity>
        <activity android:name=".presenter.view.activity.OnlineSearchChemicalEquationActivity">
        </activity>
        <activity android:name=".presenter.view.activity.ChemicalEquationActivity">
        </activity>
        <activity android:name=".presenter.view.activity.GraphDrawerActivity">
        </activity>
        <activity android:name=".presenter.view.activity.SpecialGraphMenuActivity">
        </activity>

        <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/facebook_app_id"/>

        <activity
                android:name="com.facebook.FacebookActivity"
                android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                android:label="@string/app_name"/>
        <activity
                android:name="com.facebook.CustomTabActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="@string/fb_login_protocol_scheme"/>
            </intent-filter>
        </activity>
        <activity android:name=".presenter.view.activity.TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
                android:theme="@style/Base.Theme.AppCompat"/>
    </application>

</manifest>